@font-face {
    font-family: "Google Sans";
    src: local(Google Sans Regular), url("/font/GoogleSans-Regular.ttf") format("ttf");
    font-weight: 400;
}

body {    
    color:white;
    margin: 1vw;

    font-family: "Google Sans", Calibri;
    font-size: .7vw;
}

a {
    color: #03A9F4;
    transition: color .3s;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #E91E63;
}

.page {
    width:25vw;
    height:32vw;
    padding:1vw;

    background: url('images/bg4.jpg');
    background-size: 20vw;

    position:absolute;
    border-radius: .5vw;
}

.first-page, .third-page {
    z-index: 1;
}

.second-page {
    top: 14vw;
    left: 21vw;
    z-index: 2;
}

.third-page { 
    left: 43vw;
}

.page, .content {
    box-shadow: 0 .25vw .5vw .25vw rgba(0,0,0,0.2);
}

.main-block{
    width: 68%;
    float: left;
}

.main {
    text-align: center;
}

.images-block {
    float: left;

    width: 28%;
    margin-left: 4%;
}

.first-page .images-block img {
    height: 2.7vw;
    width: 2.7vw;
}

.third-page .images-block img {
    height: 4.5vw;
    width: 5.7vw;
}

img {
    border: .2vw solid #fefefe;
}

.content img {
    width: 60%;
    height: 7vw;

    float: left;

    margin-right: .3vw;
    margin-bottom: .3vw;

    border: .2vw solid lightgray;
}

.context-img {
    height: 10vw;
    margin-top: 1vw;
    width: calc(100% - 1vw);
}

.first-page .images-block div,
.second-page .images-block div,
.third-page .images-block div {
    float:left;
    margin-top: 1vw;

    text-align: center;
}

.first-page .images-block div,
.second-page .images-block div {
    width: 3.5vw;
}


.third-page .images-block div {
    width: 7vw;
}

.content {
    color: black;
    margin-top: 1vw;
}

nav {
    margin-top: .71vw;
}

li {
    width: 25%;
    height: 100%;
    padding: .2vw;
    
    float:left;
    text-align: center;
    font-weight: bold;

    list-style-type: none;
    margin-right: .4vw;
    
    border-top-left-radius: .5vw;
    border-top-right-radius: .5vw;
    
    background:#EEEEEE;
    color:#673AB7;
    
    transition: color .3s;
    cursor: pointer;
}

nav li:first-child {
    color: #E91E63; 
    background: white;
}

nav li:hover {
    color: #E91E63; 
}

.second-page .main-block li:first-child {
    background: #4CAF50;
    color: white;
}

.second-page .main-block li:first-child:hover {
    background: #03A9F4;
}

.second-page .main-block li {
    background: #03A9F4;
    color: white;
    transition: background .3s;
}

.second-page .main-block li:hover {
    background: #4CAF50;
}

.content {
    margin-top: 2vw;
    background: #fefefe;
    padding: .5vw;
    z-index: 500;

    border-top-right-radius: .5vw;
    border-bottom-right-radius: .5vw;
    border-bottom-left-radius: .5vw;
}