@font-face {
    font-family: 'Google Sans';
    src: url(../fonts/Google-Sans/GoogleSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Google Sans';
    font-weight: bold;
    src: url(../fonts/Google-Sans/GoogleSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Google Sans';
    font-style: italic;
    src: url(../fonts/Google-Sans/GoogleSans-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'Google Sans';
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/Google-Sans/GoogleSans-BoldItalic.ttf) format("truetype");
}

body, input, select, option {
    font-family: 'Google Sans', Calibri;
}

button {
    font-family: 'Google Sans', Calibri;
    text-transform: uppercase;
    font-weight: bold;
}

#text-size {
    font-size: 16px;
}

.number-input {
    font-size: 16px;
    margin-right: 5px;
}