@font-face {
    font-family: 'Google Sans';
    src: url(../fonts/Google-Sans/GoogleSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Google Sans';
    font-weight: bold;
    src: url(../fonts/Google-Sans/GoogleSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Google Sans';
    font-style: italic;
    src: url(../fonts/Google-Sans/GoogleSans-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'Google Sans';
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/Google-Sans/GoogleSans-BoldItalic.ttf) format("truetype");
}

body, input, select, option {
    font-family: 'Google Sans', Calibri;
}

.invincible-block {
    opacity: 0;
    transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms; 
}

.invincible-block.is-visible {
    opacity: 1;
    transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms; 
}

button {
    position: relative;
    font-family: 'Google Sans', Calibri;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
    padding: 7px 15px;
    border-radius: 2px;
    outline: 0;
    border-width: 0px;
    transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

button:hover {
    cursor: pointer;
}

input, select {
    padding: 7px 15px;
    border-width: 0;
    border-radius: 2px;
}

input {
    font-size: 16px;
    margin-right: 5px;
}

hr {
    margin: 10px 0px 25px 0px;
}

#text-size {
    font-size: 16px;
}

.white-block {
    width: 50%;
    min-width: 512px;
    max-width: 810px;
    margin: auto;
    padding: 16px;
    border-radius: 2px;
    transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}