.colors-set {
	color: #682323;
	color: #704E4B;
	color: #F17E4D;
	color: #E7975C;
	color: #F7CE41;
}

html {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #777;
    text-rendering: optimizeLegibility;
}

body {
	margin: 0;
}

header {
	background: rgb(244,67,54);
	background: #212121;
	height: 228px;
}

header .content {
	position: relative;
	height: 228px;
}

.menu {
	height: 80px;
	line-height: 48px;
	background: #000;
}

header, footer, .menu, .slider, .main-block {
	width: 100%;
	min-width: 980px;
}

header, footer, .menu {
	color: #F5F5F5;
}

header .content img {
	height: 100px;
}

.logo-block, .phone-block {
	position: absolute;
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-filter: drop-shadow(.3rem .3rem .2rem rgba(0, 0, 0, .3));
	filter: drop-shadow(.3rem .3rem .2rem rgba(0, 0, 0, .3));
	-webkit-text-shadow: .3rem .3rem .2rem rgba(0, 0, 0, .3);
    text-shadow: .3rem .3rem .2rem rgba(0, 0, 0, .3);
}

.logo-block img, .logo-block .logo-text {
	float: left;
}

.phone-block {
	right: 0;
}

.logo-text {
	margin-left: 16px;
}

.logo-text h1 {
	margin: 1.5rem 0 1.5rem 0;
	font-size: 4.2rem;
}

.logo-text h3 {
	font-size: 1.3rem;
}

.content {
	width: 980px;
	padding: 0 10px;
	height: auto;
	margin: auto;
}

.slider {
	height: 200px;
	background: rgb(209, 209, 209);
}

.logo {
	font-family: 'Google Sans';
}

.phone-block {
	text-align: right;
}

.phone-block p {
	font-size: 2rem;
	margin-bottom: .5em;
	margin-top: .5em;
}

.feedback {
	font-size: 1rem !important;
	text-decoration: underline dotted;
}

.menu .content ul {
	padding: 16px;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu .content ul li {
	font-size: 1.5rem;
	margin: 0 1rem;
	padding: 0 1rem;
	position: relative;
	cursor: pointer;

	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.menu .content ul li i {
	vertical-align: middle !important;
	padding-bottom: 5px;
	padding-right: 3px;
}

.menu .content ul li:after {
	content: '';
	background: #777;
	height: 30px;
	width: 1px;
	position: absolute;
	right: -1rem;
	top: 10px;
}

.menu .content ul li:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F17E4D;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.menu .content ul li:hover, .menu .content ul li:focus, .menu .content ul li:active {
	color: white;
}
.menu .content ul li:hover:before, .menu .content ul li:focus:before, .menu .content ul li:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.menu .content ul li:last-child:after {
	background: transparent;
}

.breadcrumps ul {
	margin: 16px 0 0 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.breadcrumps ul li {
	margin: 0 .3rem;
	position: relative;
	cursor: pointer;
}

.breadcrumps ul li:after {
	content: '->';
	padding-left: .6rem;
}

.breadcrumps ul li:last-child:after {
	content: '';
}

.navigation-block {
	width: 220px;
	float: left;
}

.navigation-block ul li {
	margin-top: 4px;
	padding: .2rem .7rem;
	list-style: none;

	font-weight: bold;

	cursor: pointer;
}

.navigation-block ul li {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.navigation-block ul li:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F17E4D;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.navigation-block ul li:hover, .navigation-block ul li:focus, .navigation-block ul li:active {
	color: white;
}
.navigation-block ul li:hover:before, .navigation-block ul li:focus:before, .navigation-block ul li:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.navigation-block ul ul li {
	font-weight: normal;
}

.content-block {
	margin-top: 16px;
	margin-left: 220px;
	width: 760px;
	height: 900px;
}

.element {
	width: 220px;
	height: 310px;
	padding: 8px;
	background: white;
	border-radius: 5px;

	cursor: pointer;

	position: relative;
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;

	/*
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	*/
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.04), 0 3px 1px -2px rgba(0,0,0,0.02), 0 1px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.04), 0 3px 1px -2px rgba(0,0,0,0.02), 0 1px 5px 0 rgba(0,0,0,0.1);
	-webkit-transition-property: -webkit-box-shadow;
	transition-property: box-shadow;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.element:hover {
	-webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

.element img {
	height: 220px;
	display:block;
    margin:auto;
}

.element .price {
	position: absolute;
	bottom: 0;
}

.element .price:before {
	content: '$';
}

.element i {
	font-size: 2.5rem;
	position: absolute;
	bottom: 10px;
	right: 10px;

	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.element i:hover {
	color: #4CAF50;
}