.colors-set {
	color: #682323;
	color: #704E4B;
	color: #F17E4D;
	color: #E7975C;
	color: #F7CE41;
}

html {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #777;
    text-rendering: optimizeLegibility;
}

body {
	margin: 0;
}

header {
	background: #212121;
	height: 228px;
}

header .content {
	position: relative;
	height: 228px;
}

.menu {
	height: 80px;
	line-height: 48px;
	background: #000;
}

header, footer, .menu, .slider, .main-block {
	width: 100%;
	min-width: 980px;
}

header, footer, .menu {
	color: #F5F5F5;
}

header .content img {
	height: 100px;
}

.logo-block, .phone-block {
	position: absolute;
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-filter: drop-shadow(.3rem .3rem .2rem rgba(0, 0, 0, .3));
	filter: drop-shadow(.3rem .3rem .2rem rgba(0, 0, 0, .3));
	-webkit-text-shadow: .3rem .3rem .2rem rgba(0, 0, 0, .3);
    text-shadow: .3rem .3rem .2rem rgba(0, 0, 0, .3);
}

.logo-block img, .logo-block .logo-text {
	float: left;
}

.phone-block {
	right: 32px;
}

.logo-text {
	margin-left: 16px;
}

.logo-text h1 {
	margin: 1.5rem 0 1.5rem 0;
	font-size: 4.2rem;
}

.logo-text h3 {
	font-size: 1.3rem;
}

.content {
	width: 980px;
	padding: 0 10px;
	height: auto;
	margin: auto;
}

.slider {
	height: 400px;
	background: rgb(236, 236, 236);
}

.logo {
	font-family: 'Google Sans';
}

.phone-block {
	text-align: right;
}

.phone-block p {
	font-size: 2rem;
	margin-bottom: .5em;
	margin-top: .5em;
}

.feedback {
	font-size: 1rem !important;
	text-decoration: underline dotted;
}

.menu .content ul {
	padding: 16px;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu .content ul li {
	font-size: 1.5rem;
	margin: 0 10px;
	padding: 0 10px;
	position: relative;
	cursor: pointer;

	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.menu .content ul li i {
	vertical-align: middle !important;
	padding-bottom: 5px;
	padding-right: 3px;
}

.menu .content ul li:after {
	content: '';
	background: #777;
	height: 30px;
	width: 1px;
	position: absolute;
	right: -1rem;
	top: 10px;
}

.menu .content ul li:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F17E4D;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.menu .content ul li:hover, .menu .content ul li:focus, .menu .content ul li:active {
	color: white;
}
.menu .content ul li:hover:before, .menu .content ul li:focus:before, .menu .content ul li:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.menu .content ul li:last-child:after {
	background: transparent;
}

.breadcrumps ul {
	margin: 16px 0 0 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.breadcrumps ul li {
	margin: 0 .3rem;
	position: relative;
	cursor: pointer;
}

.breadcrumps ul li:after {
	content: '->';
	padding-left: .6rem;
}

.breadcrumps ul li:last-child:after {
	content: '';
}

.navigation-block {
	width: 220px;
	float: left;
}

.navigation-block ul li {
	margin-top: 4px;
	padding: .2rem .7rem;
	list-style: none;

	font-weight: bold;

	cursor: pointer;
}

.navigation-block ul li {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.navigation-block ul li:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F17E4D;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.navigation-block ul li:hover, .navigation-block ul li:focus, .navigation-block ul li:active {
	color: white;
}
.navigation-block ul li:hover:before, .navigation-block ul li:focus:before, .navigation-block ul li:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.navigation-block ul ul li {
	font-weight: normal;
}

.content-block {
	position: relative;
	margin-top: 16px;
	margin-left: 220px;
	width: 760px;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

.element {
	width: 220px;
	height: 310px;
	padding: 8px;
	background: white;
	border-radius: 5px;

	cursor: pointer;

	position: relative;
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;

	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.04), 0 3px 1px -2px rgba(0,0,0,0.02), 0 1px 5px 0 rgba(0,0,0,0.1);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.04), 0 3px 1px -2px rgba(0,0,0,0.02), 0 1px 5px 0 rgba(0,0,0,0.1);

	-webkit-transition-property: -webkit-box-shadow;
	transition-property: box-shadow;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.element:hover {
	-webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

.element img {
	height: 220px;
	display:block;
    margin:auto;
}

.element .price {
	position: absolute;
	bottom: 0;
}

.element .price:before {
	content: '$';
}

.element i {
	font-size: 2.5rem;
	position: absolute;
	bottom: 10px;
	right: 10px;

	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.element i:hover {
	color: #4CAF50;
}

.pages-count {
	padding-top: 32px;
	width: 100%;
	clear: both;
	position: relative;
	text-align: center;
}

.pages-count span {
	font-size: 1.3rem;
	margin: 0 16px;
	cursor: pointer;
}

.current-page {
	font-size: 2rem !important;
	font-weight: bold;
	cursor: text;
}

.half-block {
	position: relative;
	width: 348px;
	float: left;
	padding: 16px;
}

.upper-line:before {
	content: '';
	width: 100%;
	height: 1px;
	margin-top: 32px;
	background: #777;
}

footer {
	padding-top: 30px;
	height: 190px;
	background: #212121;
}

footer .content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer > .content > div {
	flex-grow: 1;
}

footer ul {
	list-style: none;
	margin: 0;
}

footer li {
	text-decoration: underline;
	cursor: pointer;
}

.footer-logo, .footer-logo img, .footer-logo-text {
	float: left;
}

.footer-logo-text {
	line-height: 50px;
	padding-left: 8px;
}

.mobile-nav {
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	background: #212121;
	color: white;
	position: fixed;
	display: none;

	font-size: 1.4rem;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#side-opener {
	padding-top: 6px;
	width: 60px;
	height: 32px;
	line-height: 34px;

	text-align: center;

	background: #363636;
}

#menu-opener {
	font-family: 'Google Sans';
	text-align: center;
	line-height: 40px;
	flex-grow: 1;
}

#slide-left-menu, #slide-top-menu {
	display: none;
}

#slide-top-menu {
	top: -400px;
	z-index: 500;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;

	transition: top .3s;
	-webkit-transition: top .3s;
}

#slide-left-menu {
	top: 40px;
	z-index: 490;
	width: 200px;
	margin: 0;
	padding: 0;
	list-style: none;

	background: white;

	transition: left .3s;
	-webkit-transition: left .3s;
}

#slide-left-menu li:hover{
	background: #bbbbbb;
}

#slide-left-menu li{
	font-size: 1.2rem;
	margin: 0;
	height: 15px;
	padding: 8px;
	line-height: 15px;
	color: black;
	border-bottom: 1px solid #777;
	transition: background .3s;
	-webkit-transition: background .3s;
}

#slide-top-menu li{
	font-size: 2rem;
	margin: 0;
	height: 30px;
	padding: 16px;
	line-height: 30px;
	background: #212121;
	color: white;
	border-bottom: 1px solid #777;
	transition: background .3s;
	-webkit-transition: background .3s;
}

#slide-top-menu li:hover{
	background: #363636;
}

#left-fade, #menu-fade {
	position: fixed;
	z-index: 400;
	background: black;
	opacity: .5;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
}

@media only screen and (max-width: 1020px) {

	body {
		margin-top: 40px;
	}

	.content-block {
		width: 100%;
	}

	header, footer, .menu, .slider, .main-block, .content-block {
		width: 100%;
		min-width: 120px;
		margin-left: 0;
	}

	.content {
		width: calc(100% - 20px);
		min-width: 120px;
		margin-left: 0;
	}

	.navigation-block, .menu, .phone-block {
		display: none;
	}

	.half-block {
		width: 100%;
	}

	footer {
		height: auto;
	}

	footer .content {
		flex-direction: column;
	}

	.content-block {
		justify-content: center;
	}

	.mobile-nav {
		display: flex !important;
		z-index: 999;
	}

	.logo-block {
		width: 100%;
		position: absolute;
		display: flex;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		justify-content: center;
	}

	#slide-top-menu, #slide-left-menu {
		display: block;
		position: fixed;
	}
}

.hid {
	display: inline;
	visibility: hidden;
}



@media only screen and (max-width: 518px) {
	.hid {
		display: none;
	}
}

.slider > .content {
	position: relative;
	height: 400px;
}

#prev-slide, #next-slide {
	position: absolute;
	z-index: 500;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	background: rgba(0, 0, 0, 0);
	border: none;
	outline: none;

	border-radius: 50px;
	width: 50px;
	height: 50px;

	background: rgba(255, 255, 255, 0.822);
	-webkit-box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .3);
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .3);
}

#next-slide::before {
	position: relative;
    content: "";
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border-right: 0.4em solid black;
    border-top: 0.4em solid black;
    transform: rotate(45deg);
    margin-right: 0.3em;
}

#prev-slide::before {
	position: relative;
    content: "";
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border-right: 0.4em solid black;
    border-top: 0.4em solid black;
    transform: rotate(225deg);
    margin-left: 0.3em;
}

#prev-slide {
	left: 16px;
}

#next-slide {
	right: 16px;
}

#img1 {
	background: url('./images/img1.jpg');
}

#img2 {
	background: url('./images/img2.jpg');
}

#img3 {
	background: url('./images/img3.jpg');
}

#img4 {
	background: url('./images/img4.jpg');
}

#img5 {
	background: url('./images/img5.jpg');
}

#img1, #img2, #img3, #img4, #img5 {
	background-position: center;
	background-size: cover;
	position: absolute;
	height: 400px;
	width: inherit;
}

.hidden-img {
	opacity: 0;
	transition: opacity .3s;
}

@media only screen and (max-width: 1020px) {
	.slider {
		display: none;
	}
}



/*-------------------------------------------------------------------------*/
#fade {
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
	display: none;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    z-index: 1000;
    opacity: .5;
}

#feedback-form {
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 24rem;
    height: 40rem;
    position: fixed;
    background: white;
	z-index: 1001;
	
	color: #212121;

    text-align: center;
    font-size: 1.4rem;
	font-family: 'Google Sans', sans-serif;

	border-radius: 2px;
	
	-webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);

    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

#feedback-form h1 {
    font-size: 2rem;
}

#feedback-form input {
	min-width: 20rem;
    max-width: 20rem;
	font-size: 1.1rem;

    padding: 10px 16px 6px 16px;
    border-radius: 2px;
    outline-width: 0;

    transition: border-bottom .3s, background .3s;
	-webkit-transition: border-bottom .3s, background .3s;
	
	border: none;
    align-self: center;
}

#feedback-form input::placeholder, #message-f::placeholder {
    color: #9E9E9E;
}

#feedback-form input, #message-f {
    background: #F5F5F5;
    color: #212121;
    border-bottom: 2px solid #cecece;
}

#feedback-form input:focus, #message-f:focus {
    border-bottom: 2px solid #2196F3;
}

#feedback-form input:hover, #message-f:hover {
    background: #EEEEEE;
}

#feedback-form input::after, #message-f:after {
    background: #F5F5F5;
}

.button {
	background: #F17E4D;
	color: white;
    margin-top: 3rem;
	align-self: center;

    font-size: 1rem;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    height: 36px;
    padding: 0 2rem;
    border: none;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	
	margin: 1em 0.3em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow, filter 100ms;
    -webkit-transition: -webkit-box-shadow 300ms, filter 100ms;
    transition: -webkit-box-shadow 300ms, filter 100ms;
    transition: box-shadow 300ms, filter 100ms;
    transition: box-shadow 300ms, -webkit-box-shadow 300ms, filter 100ms;
}

.button:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.button:hover {
    cursor: pointer;
}

.button:active {
	filter: brightness(110%);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#message-f {
	font-size: 1.1rem;

    padding: 10px 16px 6px 16px;
    border-radius: 2px;
    outline-width: 0;

    transition: border-bottom .3s, background .3s;
	-webkit-transition: border-bottom .3s, background .3s;
	
	border: none;
    min-height: 8rem;
    max-height: 8rem;
    min-width: 20rem;
    max-width: 20rem;
    align-self: center;
}

input:invalid {
	border-bottom: 2px solid red !important;
	background: rgb(255, 226, 226) !important;
}